table.timecard {
    margin: auto;
    width: 300px;
    border-collapse: collapse;
    border: 1px solid #fff; /*for older IE*/
    border-style: hidden;
}

table.timecard caption {
    background-color: #000000;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}

table.timecard thead th {
    padding: 8px;
    background-color: #fde9d9;
    font-size: large;
}

table.timecard thead th#thDay {
    width: 40%;	
}

table.timecard thead th#thRegular, table.timecard thead th#thOvertime, table.timecard thead th#thTotal {
    width: 0%;
}

table.timecard th, table.timecard td {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #000000;
}

table.timecard td {
    text-align: center;
}

table.timecard tbody th {
    text-align: left;
    font-weight: normal;
}

table.timecard tr.even {
    background-color: #000000;
}

table.timecard tr.odd {
    background-color: #000000;
}

caption {
    padding-top: .1rem;
    padding-bottom: .1rem;
    text-align: center;
    caption-side: top;
}